<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Index</title>
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
  <script src="/static/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand" style="padding: 0;">
        <img src="/static/img/logo.jpg" >
      </a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right" style="margin-top:0">
        <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-list"></span> 文章</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-fire"></span> 还没想好</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-question-sign"></span> 关于</a></li>
      </ul> 
    </div>
  </div>
</nav>

{% block content %}{% endblock %}

</body>
</html>
